name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: arc-runner-dink
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v2

    - uses: attacking-lab/actions/.github/actions/github-credentials-store@main
      with:
        password: ${{ secrets.CI_PAT }}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup UV
      run: |
        echo "UV_RUN=uv run --exact --frozen" >> $GITHUB_ENV
        python -m pip install uv

    - name: Check formatting
      run: |
        make --trace format

    - name: Check linting
      run: |
        make --trace lint

    - name: Check typing
      run: |
        make --trace mypy

    - name: Run tests
      run: |
        make --trace test

    - name: Test build
      run: |
        make --trace build
        pip install dist/enochecker_test-*.tar.gz
