name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install uv
      run: |
        echo "UV_FLAGS=--exact --frozen" >> $GITHUB_ENV
        python -m pip install uv

    - name: Build a binary wheel and a source tarball
      run: |
        make --trace build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@81e9d935c883d0b210363ab89cf05f3894778450 # v1.8.14
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
